:root {
  --pic-size: 175px;
  --font-size-blurb: 20px;
  --font-size-header: 50px;
  --flex-wrap: none;
}

@media screen and (max-width: 768px) {
  :root {
    --pic-size: 100px;
    --font-size-blurb: 12px;
    --font-size-header: 30px;
    --flex-wrap: wrap;
  }
}

.about-div {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 8%;
  height: 82%;
  width: 100%;
  background-color: var(--background-color);
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  color: var(--text-color);
  transition: all 0.2s ease;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: var(--flex-wrap);
  flex-basis: 0;
}

.about-header {
  font-size: var(--font-size-header);
  margin: 3vw;
  height: min-content;
}

.about-blurb {
  font-size: var(--font-size-blurb);
  margin: 3vw;
  height: min-content;
  width: 40vw;
}

.profile-pic {
  width: var(--pic-size);
  height: var(--pic-size);
  border-radius: 100%;
  transition: all 0.2s ease;
  margin: 3vw;
}
