.footer {
  position: fixed;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  -webkit-user-select: none;
  user-select: none;
}

.fa-stack.github {
  margin-left: 3vw;
}

.fa-stack {
  margin-top: 3vh;
  margin-left: 1.5vw;
}

.footer-icon:hover {
  color: #999 !important;
  transition: all 0.2s ease;
}
