.icons {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 3vw;
  margin-bottom: 1vw;
  background-color: white;
  border: none;
  transition: all 0.2s ease;
  border-radius: 10px;
  padding: 1vw;
}

.fa-stack {
  margin-right: 1.5vw;
}
