:root {
  --blob-one-color: #00bbf9;
  --blob-two-color: rgb(100, 39, 233);
  --blob-three-color: rgb(228, 58, 217);

  --blob-size: 15vw;
  --font-size: 1.25vw;
  --font-size-header: 4vw;
  --blob-width: 50vw;
  --blob-blur: 60%;
  --word-break: max-content;
  --word-break-blurb: max-content;
  --blurb-margin: 37vh;
}

@media screen and (max-width: 768px) {
  :root {
    --blob-size: 10vw;
    --font-size: 2vh;
    --font-size-header: 5vh;
    --blob-width: 50vw;
    --blob-blur: 55%;
    --word-break: 10%;
    --word-break-blurb: 25%;
    --blurb-margin: 33vh;
  }
}

.color-one {
  --blob-one-color: #00bbf9;
  --blob-two-color: #fee440;
  --blob-three-color: #00f5d4;
}

.color-two {
  --blob-one-color: #2364aa;
  --blob-two-color: #3da5d9;
  --blob-three-color: #73bfb8;
}

.color-three {
  --blob-one-color: #ff595e;
  --blob-two-color: #ffca3a;
  --blob-three-color: #8ac926;
}

@keyframes text-background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes blob1 {
  50% {
    left: 75%;
    top: 55%;
  }
}

@keyframes blob2 {
  50% {
    left: 60%;
    top: 45%;
  }
}

@keyframes blob3 {
  50% {
    left: 77%;
    top: 50%;
  }
}

.homepage {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 8%;
  height: 82%;
  width: 110%;
  background-color: var(--background-color);
  user-select: none;
  -webkit-user-select: none;
}

.homepage.text {
  display: flex;
  width: 50%;
  height: 50vh;
  color: var(--text-color);
}

.homepage.header {
  font-size: var(--font-size-header);
  width: var(--word-break);
  height: min-content;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  margin-left: 3vw;
  margin-bottom: 40vh;
}

.homepage.header:hover {
  cursor: pointer;
  color: var(--button-text-color);
}

.homepage.header:active {
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.homepage.blurb {
  font-size: var(--font-size);
  width: var(--word-break-blurb);
  height: min-content;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  margin-left: 3vw;
  margin-bottom: var(--blurb-margin);
  animation: text-background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--blob-one-color),
    var(--blob-two-color),
    var(--blob-three-color),
    var(--blob-one-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 450px) {
  .blobs {
    display: flex;
    width: var(--blob-width);
    height: 80vh;
    background-color: transparent;
    position: fixed;
    right: 0;
  }

  .blur {
    -webkit-backdrop-filter: blur(7vw);
    backdrop-filter: blur(7vw);
    position: fixed;
    height: 90%;
    width: var(--blob-blur);
    right: 0;
    background-color: transparent;
  }

  .blob.one {
    background-color: var(--blob-one-color);
    position: fixed;
    width: var(--blob-size);
    height: var(--blob-size);
    border-radius: 100%;
    left: 65%;
    top: 40%;
    animation: blob1 60s ease infinite alternate-reverse;
  }

  .blob.two {
    background-color: var(--blob-two-color);
    position: fixed;
    width: var(--blob-size);
    height: var(--blob-size);
    border-radius: 100%;
    left: 77%;
    top: 50%;
    animation: blob2 60s ease infinite alternate;
  }

  .blob.three {
    background-color: var(--blob-three-color);
    position: fixed;
    width: var(--blob-size);
    height: var(--blob-size);
    border-radius: 100%;
    left: 60%;
    top: 45%;
    animation: blob3 60s ease infinite alternate;
  }
}
