:root {
  --font-size: 1.25vw;
  --padding: 1vw;
}

@media screen and (max-width: 768px) {
  :root {
    --font-size: 2vh;
    --padding: 2vh;
  }
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--button-color);
  -webkit-user-select: none;
  user-select: none;
}

.navbar-button {
  margin-left: 2.25vw;
  font-size: var(--font-size);
  background-color: var(--button-color);
  border: none;
  border-radius: 0.75vw;
  padding: var(--padding);
  color: var(--button-text-color);
}

.navbar-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
  color: var(--button-text-hover-color);
}

.navbar-button.darkmode {
  margin-left: auto;
  margin-right: 1.5vw;
}

.active {
  font-weight: bold;
  color: var(--button-text-hover-color);
}
