:root {
  --font-size: 1.25vw;
  --border-radius: 0.75vw;
  --carousel-item-size: 40vw;
  --align-items: left;
  --overflow-x: scroll;
}

@media screen and (max-width: 800px) {
  :root {
    --font-size: 2vh;
    --border-radius: 1vw;
    --carousel-item-size: 100%;
    --align-items: center;
    --overflow-x: hidden;
  }

  .inner-carousel {
    flex-direction: column;
    width: 95%;
    height: 100%;
    padding-right: 2.5%;
    padding-top: 2.5%;
  }

  .carousel {
    overflow-x: var(--overflow-x);
    justify-content: var(--align-items);
  }

  .carousel-item {
    width: var(--carousel-item-size);
  }
}

.projects-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 8%;
  height: 82%;
  width: 100%;
  background-color: var(--background-color);
  user-select: none;
  -webkit-user-select: none;
}

.carousel-item {
  position: relative;
  width: var(--carousel-item-size);
  height: 58vh;
  padding: 1vw;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.inner-carousel {
  display: flex;
}

@media screen and (min-width: 801px) {
  .inner-carousel {
    padding: 5px;
  }
}

@media screen and (min-width: 801px) {
  .carousel {
    overflow-y: hidden;
  }
}

.carousel {
  display: flex;
  justify-content: var(--align-items);
  align-items: center;
  background-color: var(--button-hover-color);
  border-radius: 10px;
  width: 90%;
  height: 80%;
  overflow-x: var(--overflow-x);
  overflow-y: var(--overflow-y);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
}

.project.description {
  padding: 0 2vw;
  margin-top: 0.5rem;
}

.project.button {
  margin-top: 3vh;
  margin-inline: 1vw;
  cursor: pointer;
  font-size: var(--font-size);
  color: black;
  background-color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.75vw;
}

.project.button:hover {
  background-color: rgb(64, 61, 61);
  color: white;
  transition: all 0.2s ease;
}

.carousel-item:hover .overlay {
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}

::-webkit-scrollbar-track {
  background: var(--button-hover-color);
  border-radius: 10px;
}
